body{
	background-color: #f6f6f6;
	font-family: "Source Han Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header{
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 9999;
}
.logo{
	display: flex;
	align-items: center;
}

.nav{
    width: 1180px;
    margin: 0 auto;
    display: flex;
	align-items: center;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
}
li {
	float: left;
	box-sizing: border-box;
}
li a {
	display: block;
	padding: 28px;
	color: #333;
	text-decoration: none;
}
li:hover {
	box-shadow: 0 0 4px #ccc;
	border-top: 4px solid #8293ff;
}

.stories{
	display: inline-block;
}

.storiesMenu{
	display: none;
	position: absolute;
	background-color: #fff;
    box-shadow:0 8px 16px 0 #ccc;
}

.storiesMenu a{
	color: #999;
	padding:20px;
	text-decoration: none;
	display: block;
}

.storiesMenu a:hover{
	background-color: #eaeaea;
}

.stories:hover .storiesMenu{
	display: block;
}

#banners{
	position: absolute;
	width: 1920px;
	height: 500px;
	overflow: hidden;
}

#banner{
	position: absolute;
	z-index: 9;
	width: calc(1920px * 3);
}

.play{
	animation: rotation 10s ease infinite;
}

@keyframes rotation{
	0%  {        margin-left: 0px;         } 
	23% {        margin-left: 0px;         }
	33% {       margin-left: -1920px;     } 
	56% {       margin-left: -1920px;     } 
	66% {       margin-left: -3840px;     }
	90% {       margin-left: -3840px;     }
	100% {       margin-left: 0px;     }
}

.num{
	position: absolute;
	z-index: 10;
	border-radius: 50%;
	background-color:#333;
	width: 16px;
	height:16px;
	display: inline-block;
	right: 100px;
	top: 550px;
}

.num:hover{background:#00f;}  
        .num:hover,#banner:hover{animation-play-state:paused;}  
        .num:nth-child(2){margin-right:30px}  
        .num:nth-child(3){margin-right:60px} 
        #a1:hover ~ #photos{animation: rotation1 .5s ease-out forwards;}  
        #a2:hover ~ #photos{animation: rotation2 .5s ease-out forwards;}  
        #a3:hover ~ #photos{animation: rotation3 .5s ease-out forwards;}  
        @keyframes rotation1 {0%{margin-left:-3840px;}100%{margin-left:-0px;} }  
        @keyframes mrotation2 {0%{margin-left:-3840px;}100%{margin-left:-1920px;}   }  
        @keyframes rotation3 {100%{margin-left:-1920px;}   }  
        