body{
	background-color: #f6f6f6;
	font-family: "Source Han Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header{
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 9999;
}
.logo{
	display: flex;
	align-items: center;
}

.nav{
    width: 1180px;
    margin: 0 auto;
    display: flex;
	align-items: center;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
}
li {
	float: left;
	box-sizing: border-box;
}
li a {
	display: block;
	padding: 28px;
	color: #333;
	text-decoration: none;
}
li:hover {
	box-shadow: 0 0 4px #ccc;
	border-top: 4px solid #8293ff;
}

.stories{
	display: inline-block;
}

.storiesMenu{
	display: none;
	position: absolute;
	background-color: #fff;
    box-shadow:0 8px 16px 0 #ccc;
}

.storiesMenu a{
	color: #999;
	padding:20px;
	text-decoration: none;
	display: block;
}

.storiesMenu a:hover{
	background-color: #eaeaea;
}

.stories:hover .storiesMenu{
	display: block;
}

#banners{
	position: relative;
	width: 100vw;
	height: calc(100vw * (500 / 1920));
	overflow: hidden;
}
#banner{
	position: absolute;
	z-index: 9;
	width: calc(100vw * 3);
}
#banner img {
	width: 100vw;
	float: left;
}
.play{
	animation: rotation 10s ease infinite;
}
@keyframes rotation{
	0%, 23% { margin-left: 0px; } 
	33%, 56% { margin-left: -100vw; } 
	66%, 89% { margin-left: calc(-100vw * 2); }
	100% { margin-left: 0px; }
}
.num{
	position: absolute;
	z-index: 10;
	border-radius: 50%;
	background-color:#333;
	width: 16px;
	height:16px;
	display: inline-block;
	right: 20px;
	bottom: 10px;
}
.num:nth-child(2) {
	margin-right: 30px;
}  
.num:nth-child(3) {
	margin-right: 60px;
}
.num:hover{
	background:#00f;
}  
.num:hover, #banner:hover {
	animation-play-state: paused;
}  
#a1:hover ~ #photos{
	animation: rotation1 .5s ease-out forwards;
}  
#a2:hover ~ #photos{
	animation: rotation2 .5s ease-out forwards;
}  
#a3:hover ~ #photos{
	animation: rotation3 .5s ease-out forwards;
}  
@keyframes rotation1 {
	0% { margin-left: calc(-100vw * 2); }
	100% { margin-left: 0px; }
}  
@keyframes mrotation2 {
	0% { margin-left: calc(-100vw * 2); }
	100% { margin-left: -100vw; }
}  
@keyframes rotation3 {
	100% { margin-left: -100vw; }
}  
        