/*
浏览器默认给 a 元素设置默认样式
像
a {
	color: blue;
}
我们想覆盖浏览器给的默认样式，就要写一个优先级比默认样式的优先级高的样式
.nav > a 这是一个选择器的整体，默认的选择器为 a，这样写的优先级大于默认的
> 不是代表把 .nav 的样式给 a
而是满足 .nav > a 这个条件的元素都给这个样式
.nav > a 就代表要满足
1. 最近一层父元素的类名为 .nav
2. 是 a 元素
*/

.nav a {
	background-color: #fff;
	height: 72px;
	font-size: 24px;
	color: #333;
}
.nav > a {
	color: red;
}
