/****** global *******/
body{
	background-color: #f6f6f6;
	font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
	margin: 0;
	padding: 0;
}

/***** 导航栏 ********/
.header{
	background-color: #fff;
	display: flex;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
}

.nav{
    width: 1180px;
    margin: 0 auto;
    display: flex;
	align-items: center;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
}
li {
	float: left;
	box-sizing: border-box;
}
li a, li > div:first-child {
	display: block;
	padding: 28px;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
li:hover {
	box-shadow: 0 0 4px #ccc, 0 4px 0 0 inset #8293ff;
}

.stories{
	display: inline-block;
}

.storiesMenu{
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #fff;
    box-shadow:0 8px 16px 0 #ccc;
}

.storiesMenu a{
	color: #999;
	padding:20px;
	text-decoration: none;
	display: block;
}

.storiesMenu a:hover{
	background-color: #eaeaea;
}

.stories:hover .storiesMenu{
	display: block;
}

/***********************/
.content{
	width: 1180px;
	margin: 32px auto;
}

.list-box{
	
}

.con-box{
	max-width: 280px;
	max-height: 200px;
	float: left;
	margin-right: 20px;
	border-radius: 4px;	
	overflow: hidden;

}

.con-box:nth-child(4n+4){
	margin-right: 0;
}

.mask-box{
	position: relative;
}

.mask-img{
	width: auto;
	max-height:100%;
	overflow: hidden;
}


img{
	width: auto;
	max-height:100%;
	display: block;
}

.mask{
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
	bottom: 0;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.mask .mask-title{
	display: table;
	font-size: 110%;
	height: 100%;
	text-transform: uppercase;
	width: 100%;
	margin:0;
}

.mask-con{
	display: table-cell;
	position: relative;
	transition: opacity .25s ease-in-out, background .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out, background .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out, background .25s ease-in-out;
	vertical-align: middle;
	z-index: 1;
	color: #fff;
	text-decoration: none;
	opacity: 0;
	padding: 20%;
}

.mask-con:hover{
	opacity: 1;
	color: #fff;
	background: rgba(0,0,0,.3);
}

.dec-box{
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
}

.dec-title{
	font-size: 18px;
}

.line{
	width: 50%;
	height: 1px;
	background-color: #fff;
	margin: 12px 0px;
}

.dec-con{
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
}