/****** global *******/
body{
	background-color: #f6f6f6;
	font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
	margin: 0;
	padding: 0;
}

/***** 导航栏 ********/
.header{
	background-color: #fff;
	display: flex;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
}

.nav{
    width: 1180px;
    margin: 0 auto;
    display: flex;
	align-items: center;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
}
li {
	float: left;
	box-sizing: border-box;
}
li a, li > div:first-child {
	display: block;
	padding: 28px;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
li:hover {
	box-shadow: 0 0 4px #ccc, 0 4px 0 0 inset #8293ff;
}

.stories{
	display: inline-block;
}

.storiesMenu{
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #fff;
    box-shadow:0 8px 16px 0 #ccc;
}

.storiesMenu a{
	color: #999;
	padding:20px;
	text-decoration: none;
	display: block;
}

.storiesMenu a:hover{
	background-color: #eaeaea;
}

.stories:hover .storiesMenu{
	display: block;
}

/***********************/
.content{
	width: 1180px;
	margin: 32px auto;
}

.list-box{
	margin-right: -20px;
}

.con-box{
	width: 300px;
	float: left;
}

img{
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;	
}